<div class="registration_wrapper">
    <h2>Registration</h2>

    <form
        [formGroup]="form"
        class="card flex justify-content-center"
        (ngSubmit)="onSubmit()"
    >
        <!-- Username -->
        <p-floatLabel>
            <input
                pInputText
                type="username"
                id="username"
                placeholder="Username"
                formControlName="username"
            />
            <label for="username">Username</label>
        </p-floatLabel>

        <!-- E-mail -->
        <p-floatLabel>
            <input
                pInputText
                type="email"
                id="email"
                placeholder="E-mail"
                formControlName="email"
            />
            <label for="email">E-mail</label>
        </p-floatLabel>

        <!-- Password -->
        <p-floatLabel>
            <p-password
                type="password"
                id="password "
                placeholder="Password"
                formControlName="password"
                [feedback]="false"
                [toggleMask]="true"
            />
            <label for="password">Password</label>
        </p-floatLabel>

        <!-- Verify Password -->
        <p-floatLabel>
            <p-password
                type="password"
                id="varify_password"
                formControlName="verify_password"
                [feedback]="false"
                [toggleMask]="true"
            />
            <label for="varify_password">Verify Password</label>
        </p-floatLabel>
        <div class="cta-btn">
            <p-button
                label="Register"
                type="submit"
                [disabled]="form.invalid"
            />
            <p-button
                label="Register"
                type="submit"
                label="Go to Login"
                (onClick)="goToLogin()"
            />
        </div>

        @if (errorMessage) {
        <h3>{{ errorMessage }}</h3>
        }
    </form>
</div>
