<p-dialog
    header="Add Product"
    [(visible)]="display"
    modal="true"
    [closable]="false"
>
    <div class="p-fluid">
        <p-inputGroup class="p-field">
            <label for="name">Location</label>
            <input
                id="name"
                type="text"
                pInputText
                [(ngModel)]="storage"
                placeholder="Location Name"
            />
        </p-inputGroup>
    </div>

    <p-footer>
        <button
            type="button"
            pButton
            label="Add"
            icon="pi pi-check"
            (click)="addStorage()"
        ></button>
        <button
            type="button"
            pButton
            label="Cancel"
            icon="pi pi-times"
            class="p-button-secondary"
            (click)="hideDialog()"
        ></button>
    </p-footer>
</p-dialog>
