<div class="registration_wrapper">
    <h2>Log In</h2>
    <form
        [formGroup]="form"
        class="card flex justify-content-center"
        (ngSubmit)="onSubmit()"
    >
        <p-floatLabel>
            <input
                pInputText
                type="email"
                id="email"
                placeholder="email"
                formControlName="email"
            />
            <label for="email">Email</label>
        </p-floatLabel>
        <p-floatLabel>
            <p-password
                type="password"
                id="password"
                formControlName="password"
                [feedback]="false"
                [toggleMask]="true"
            />
            <label for="password">Password</label>
        </p-floatLabel>
        <div class="cta-btn">
            <p-button label="Log In" type="submit" [disabled]="form.invalid" />
            <p-button label="Register" (onClick)="goToRegistration()" />
        </div>

        @if (errorMessage) {
        <div>{{ errorMessage }}</div>
        }
    </form>
</div>
